
:root {
    --dark: #461164;
    --primary: #AA36EF;
    --lighter: #d49af7;
    --white: #efefef;
    --grey: #4f4f4f;
    --black: #181021;
}

* {
    font-family: "Source Code Pro", monospace;
}

html, body, main {
    margin: 0px;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.logo-wrap {
    width: 3.5rem;
    height: 2.75rem;
    overflow: hidden;
    display: inline-block;
}

.logo-wrap .logo {
    width: 3.5rem;
    height: 3.5rem;
    margin: -0.75rem 0 0 0;
}


/* BUTTONS */
button { border: none; outline:none; cursor: pointer }
button.action {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
    padding: 0;
}

button.action:hover {
    filter: brightness(0.9);
    transition: 0.1s;
}

button.action:active {
    filter: brightness(1.05);
    transition: 0.1s;
}

.drop-menu li, 
button.menu-item {
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.drop-menu li,
button.menu-item:hover {
    transition: 0.2s;
}


.menu {
    background-color: var(--white);   
}


/* GENERAL */
div.ide-top {
}

div#lu5-editor {
    width: 100%;
    resize: vertical;
}

div#lu5-console {
    width: max-content;
}

div.ide-area {
    display: flex;
    justify-content: space-between;

    padding: 0 0.5rem;

    flex-grow: 1;

    width: auto;
    height: auto;
    max-height: 100%;
}

div.ide-play-area {
    background-color: var(--lighter);
    filter: brightness(1.1);
    flex-grow: 1;
}

.separator {
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat var(--lighter);
}

.separator.horizontal {
    cursor: col-resize;
    height: 100%;

    width: 6px;
    min-width: 6px;
}

.separator.vertical {
    cursor: row-resize;
    width: 100%;

    height: 6px;
    min-height: 6px;
}

.cm-editor {
    max-width: 100%;
    height: 100%;
}

.cm-scroller {
    overflow:auto;
}

.drop-menu, .drop-menu ul
{
	list-style: none;
	background-color: var(--white);
	margin: 0;
    padding: 0;
}

.drop-menu li
{
	float: left;
	margin-right: 3px;
	position: relative;
    font-family: monospace;
    max-height: 1.8rem;
    height: 1.8rem;
}

.drop-menu ul
{
	position: absolute;
	background-color: var(--white);
	top: 44px;
	left: 0px;
	min-width: 8rem;
	padding: 0;
	display: none;
}

.drop-menu ul li
{
	float: none;
	margin: 0;
	line-height: 16px;
}

.drop-menu a:link, .drop-menu a:visited
{
	text-decoration: none;
	font-size: 0.75em;
	display: block;
    font-weight: bold;
	color: var(--black);
	padding: 0.4rem 0.2rem 0 0.2rem;
}

.drop-menu li:hover
{
    cursor: pointer;
	background-color: var(--lighter);
}
.drop-menu li:hover ul
{
	display: block;
    z-index: 5;
    cursor: pointer;
}
.CodeMirror { z-index: 0 }